@charset "utf-8";

/* base */
#myNavbar li{
font-size: 14px;
}


/* common */
#kiji{color: black;
border-top: 1px solid #aa8260;
}
#iro{color: darkslategray;
border-top: 1px solid #aa8260;
}
.osusume span {color: orange;
text-decoration: underline;}
.osusume  {padding-left: 20%;
}
.osusume3{padding-left: 3%;}
.osusume3 span {color: orange;
text-decoration: underline;}
.osusume span span {
text-decoration: none;}
.osusume2{padding-right: 3%;}
.osusume2 span {color: orange;}
#toiawase-tempo{color: rgb(205, 92, 92);
}
#toiawase-tempo a{color: rgb(205, 92, 92);}
#toiawase a{color: green;}
#tempo-plas th{background-color: indianred}
#tempo-plas button{background-color: indianred}
#jimu{color: rgb(205, 92, 92);
border-top: 1px solid #aa8260;
}
#toiawase-syumi{color: orange;
}
#toiawase-syumi a{color: orange;}
#syumi-plas th{background-color: orange;}
#kakaku{  border-top: 1px solid red;}
#top h1 {color: orange;}
#top {border-top: 1px solid #aa8260;}
#jire{  border-top: 1px solid skyblue;}
#gaiyo{border-top: 1px solid #aa8260;
}
#jire h1{color: orange}
#jire h3{ text-align: center}
#jire2 a,h3{
color:seagreen;}
#jire8 a{
color:seagreen;}
#jire5 a,h3{
color:seagreen;}
#jire2 {background-color: lightcyan;}
#jire5{background-color: honeydew;}
#pc_mobile{
	width: 435px;
}
#jire3 h3,a{ color: orange;
}
#jire9 a{ color: orange;
}
#jire6 h3,a{ color: orange;
}
#jire3{background-color: papayawhip;}
#jire6{background-color: papayawhip;}
#jire4 a,h3{ color: indianred;
}
#jire7 h3{ color: indianred;
}
#jire10 a{ color: indianred;
}
#jire4{background-color: lavenderblush;}
.paypal-button {
	padding: 5px;
}

.paypal-button input {
	vertical-align: middle;
}
#jire7{background-color: lavenderblush;}
#pc_mobile ul{
	margin:0;
	padding:0;
}
#toiawase h1{color:seagreen;}
#pc_mobile ul li{
	float:left;
	list-style-type:none;
	padding-right:10px;
}
#toiawase{border-top: 1px solid palegreen;

}
.icon-content{
font-size: 40px;
color: green;
}
.icon-content a{
color: green;}
.icon-content2 a{
font-size: 40px;
color: black;
}
.pt10{
	padding-top:10px;
}
#gaiyo h1{color: seagreen;

}
button{background-color: limegreen;
color: white;
margin: 10px 0;
-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
		box-shadow: 2px 2px 3px 1px #666;
	     -moz-box-shadow: 2px 2px 3px 1px #666;
	     -webkit-box-shadow: 2px 2px 3px 1px #666;

}
.nagare h2{color: darkslategray;}
#syasin{width: 60%;
border: 1px #aa8260 solid;}
#word{border: 1px #aa8260 solid;}
#caution{
	width:656px;
	margin:0 auto;
	border:2px #FF0000 solid;
	background-color:#FFFFFF;
}

#caution_title{
	width:650px;
	margin:0 auto;
	text-align:center;
	color:black;
	font-size:16px;
	font-weight:bold;
	padding:5px;
}

#caution_list{
	width:650px;
	margin:0 auto;
}

.cautionBlock{
	padding-bottom:5px;
}
.name a{color: darkorange;}

.logo {
	padding-top: 50px;
	width: 100%;
	max-width: 400px;
	margin-bottom: 30px;
}

#rogo h1 {
	margin: 20px 0;
	color: #aa8260;
}
a:hover {text-decoration: none;}
a:hover{color:green;}

span{color: burlywood}

#titleblock{
	width:660px;
	padding-top:20px;
	margin:0 auto;
}

h3{color: seagreen}
#movie_title{
	width:660px;
	text-align:center;
	position: relative;
}
#movie_title img{
text-align: center;
}



#rating{
	float:right;
	padding-top:10px;
}


/*==========================================================================================
week_theater
============================================================================================*/



a.calendar_link:link		{color:#555555; text-decoration:none;}
a.calendar_link:visited	{color:#555555; text-decoration:none;}

a.calendar_link:active	{color:#555555; text-decoration:none;}


#mv_weekbox{
	margin:0px auto;
	padding:0px;
	width:616px;
	}




#karendar a:link,#karendar a:visited {
	text-decoration:none;
	}



.youbi {
	font-size: 12px;
	color: #555555;
}

.mj04{
	padding-top:5px;
}

h2{
	font-weight:bold;
	padding:10px 0;
	font-size:20px;
}


dl {
	width:616px;
}



#areablock{
	width:100%;
	padding-top:40px;
	margin:0 auto;
}

#areablock ul{
	margin:0 auto;
	padding:0;
	text-align: center;
}

#areablock ul li{
	display: inline-block;
	list-style-type:none;
}


.block{
	width:900px;
	padding-top:40px;
	margin:0 auto;
}

h3{
	font-weight:bold;
	font-size:18px;
	padding-bottom:5px;
}


table {
	width:900px;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0.3em 0 10px;
	} * html table {
	margin: 1.6em 0;
	} *:first-child+html table {
	margin: 0;
}


th {
	font-weight:bold;
	padding: 0.3em 0.5em;
	text-align: center;
	vertical-align:top;
}

td {

	vertical-align:top;
}

.t_left{
	text-align:left;
}

.t_center{
	text-align:center;
}


.w310{
	width:310px;
}

.w100{
	width:100px;
}

.w40{
	width:40px;
}


.w290{
	width:290px;
}

#fortop{
	width:100%;
	margin:0 auto;
}

#fortop img{
	float:right;
	}

#bottom_logo{
	width:200px;
	margin:0 auto;
	padding-top:20px;
}


/*==========================================================================================
popup
============================================================================================*/

#sample_block{
	width: 650px;
	margin: 0 auto;
	padding-top:6px;
}

#sample_wrapper {
	text-align:left;
	padding: 0px;
	width: 650px;
	margin: 0 auto;
}

@charset "utf-8";

html, body {

	background-image: url("../../../images/bg_black.gif");
	background-position: top;
}


th {
	background-color:forestgreen;
	border: 1px solid #2f2f2f;
	color:white;
}
#kakaku th {
	background-color:rgb(205, 92, 92);
	border: 1px solid #2f2f2f;
	color:white;
}
#sonota{border-top: 1px solid red;}
#sonota h2{color: blue;}
td {
	text-align: left;
	border: 1px solid #2f2f2f;

}

td a:link		{text-decoration:none;}
td a:visited	{text-decoration:none}

td a:active	{color:black; text-decoration:none;}


/* Navigation bar */
.navbar-brand img {
  height: 30px;
  width: auto;
}
.navbar-default {
  border-radius: 0px;

}



.navbar-default .navbar-nav li a {
color: black;
}

.navbar-default .navbar-nav li a:hover {
  color: silver;
}

.sub-title {
    width: 730px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

@media (max-width:767px) {
  .sub-title .list-inline>li {
    display: block;
  }
}

.modal-content,
.modal-body,
#imagepreview {
  width:1000px;
}

.modal-dialog {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

@media (max-width: 1000px) {
  .modal-dialog,
  .modal-content,
  .modal-body,
  #imagepreview {
    width: 100% !important;
  }
}

.col-sm-9{
padding-top: 50px;
font-size: 16px;
}
.col-sm-9 a{
color: black;
}

.row {
  margin-bottom: 30px;

}

.midashi {
  background-color:black;
color:rgb(205, 92, 92);
width:230px;
margin-left: auto;
margin-right: auto;
font-size: 23px;
}
#mottoshiri .row {
  margin: 0;
 margin-bottom: 8px;
}


#koushinh4 {
color:red;
}
h4{
color: black;
}
p{
font-size: 16px;
}
.sub-title a {
  color: #aa8260;
  font-size: 16px;
}
.col-md-5{
color: cornflowerblue;
}
.sub-title a:hover {

text-decoration: underline;;
}
/* centered navbar menu */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: yellow;
}

/* Sidebar */
.rakuten table,
 {
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* #left-sidebar .amazon iframe {
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.rakuten img {
  width: 100%;
  padding: 10px;
}


.text-ad {
  border: solid 0.1px white;
  margin-bottom: 15px;

}
.text-ad a {
  color: white;
  padding: 5px;
  display: block;
}



/* Poster */
#poster {
position: relative;
}

/* Footer */
#footer {
  color: rgb(205, 92, 92);
  border-top: 1px solid rgb(205, 92, 92);
  margin-top: 20px;
  padding: 10px 0 20px;
}

/* Contents */
.contents {
  background:
    /* top, transparent red */
    linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.7)
    ),
    /* your image */
    url("image/rogue-one-poster.jpg");
  background-size: cover;
  background-position: center top;
  padding: 20px;
  filter: alpha(opacity=60);
 -ms-filter: "alpha(opacity=60)";
   -khtml-opacity: 0.6;
   -moz-opacity: 0.6;
}

.background2{
  background:
    /* top, transparent red */
    linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.7)
    ),
    /* your image */
    url("image/rogue-one-poster2.jpg");
    background-size: cover;
    background-position: center center;
    filter: alpha(opacity=60);
   -ms-filter: "alpha(opacity=60)";
     -khtml-opacity: 0.6;
     -moz-opacity: 0.6;f
}

.contents h1 {
  margin-bottom: 30px;
  color:sandybrown;
  font-size:2.5em;
}

.contents h2 {
  margin-bottom: 20px;
  color:indianred;
  font-size:2em;
}

.contents h3 {
  margin-bottom: 20px;
  color:indianred;
  font-size:1.5em;
}

.contents p span {
  color:red;
}

.contents p span a {
  text-decoration: none;
  color: red;
}




.sample1{border-bottom:solid 1px;
color: black;}
.display-block {
display: block;
}
.display-block a {text-decoration: none;
color: black;}



/*******************
Theater list-inline
*******************/

.block {
	width: 100%;
}

#wrapper table {
	width: 100%;

}

.name {
	width: 20%;
font-size: 15px;
	text-align: center;
	display: table-cell;
		vertical-align: middle;
		text-align: center;
}
a {color: green;
}

.tel {
	width: 20%;
	text-align: center;
font-size: 15px;
display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.schedule {
	text-align: center;
	width: 20%;
font-size: 15px;
display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.toroku
{
	text-align: center;
	width: 20%;
font-size: 15px;
}
.ref {
	width: 15%;
}

@media (max-width: 991px) {
	.name {
		width: 50%;
	}

	.tel {
		display: none;
	}

	.schedule {
		width: 50%;
	}

	.ref {
		display: none;
	}

}
